{
    "jsc": {
        "externalHelpers": false,
        "loose": true,
        "target": "es2020",
        "parser": {
            "syntax": "typescript",
            "dynamicImport": true
        },
        "baseUrl": "./src",
        "paths": {
            "@/*": [
                "*"
            ]
        }
    },
    "module": {
        "type": "commonjs",
        "strict": true,
        "strictMode": true,
        "lazy": false,
        "noInterop": false
    }
}